@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "HomePage Mission 5";
}

<h1>Connor Sandstrom</h1>
<img src="img/DuckHunting.JPG"
        width="400"
        height="500" />
<p>
    I hope to be able to gain an understanding of how to program in C# and ASP .NET. I hope this will prepare me for any job that
    I pursue after college and give me experience that I need in not just programming but working with a team as well.
</p>
<p>Some jobs that I want to pursue after I graduate are: </p>
<ul>
    <li>Salesforce Consultant</li>
    <li>Project Manager</li>
    <li>Web Developer</li>
</ul>


